/* Header */
nav {
  width: 100%;
  padding: 10px 0;
  border-bottom: var(--border-grey2);
}

.logo {
  display: inline-block;
  height: 14px;
  width: 80px;
}

.nav-icon {
  display: inline-block;
  width: 13px;
  margin: 0 20px 0 10px;
}
