/* Header */
.nav-wrapper {
  position: relative;
  min-height: 12rem;
  overflow: hidden;
}
nav {
  width: 100%;
  padding: 12px 0;
  /* border-bottom: var(--border-grey2); */
  background-color: var(--transparent-white);
}

/* Toglle between nav-small and nav-big on scroll */
.nav-small {
  position: fixed;
  z-index: 200;
}
.nav-small .logo-big {
  display: none;
}

.nav-big {
  height: 10rem;
}
.nav-big .logo {
  visibility: hidden;
}
.nav-big .wishlist-and-cart-wrapper {
  align-self: flex-start;
}

/* Logo left */
.logo {
  display: inline-block;
  height: 2rem;
  width: 10rem;
}

/* Center */
.nav-center {
  min-width: 40rem;
}
.logo-big {
  display: block;
  width: 30%;
  max-width: 100px;
  margin: 0 auto 5px;
}
.nav-menu {
  width: 100%;
  display: flex;
  align-items: space-between;
}
.nav-menu li {
  display: inline-block;
  list-style-type: none;
}
.nav-menu li a {
  text-decoration: none;
  color: var(--grey3);
  margin: 0.5rem;
}
.nav-menu li:hover a {
  color: var(--grey5);
}

/* SUBMENU */
.submenu {
  position: fixed;
  z-index: 20;
  width: 100%;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.945);
  border-top: var(--border-grey1);
  border-bottom: var(--border-grey2);
  transition: all 0.3s;
}
.submenu ul {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/* remove */
.submenu li {
  display: inline-block;
  list-style-type: none;
  margin: 0.4rem 3.3rem;
}
.submenu li a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--grey3);
}
.submenu li:hover a {
  color: var(--grey5);
}

/*  Nav Icons on the right */
.wishlist-and-cart-wrapper {
  float: right;
}
.nav-icon {
  margin: 0 0 0 2.6rem;
  display: inline-block;
  position: relative;
}
.nav-icon img {
  height: 1.4rem;
  position: absolute;
  top: 0.5rem;
  transition: opacity 0.7s;
}
.nav-icon img:hover {
  opacity: 0.7;
}

.nav-icon span.w-and-c-amount {
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--grey3);
  margin: 0 0 0 1.8rem;
}

/* ######################################### MEDIA QUERIS #################################### */
/* ------------------------------------------------------  < 1240px ----- */
@media only screen and (max-width: 1240px) {
}

/* ------------------------------------------------------  < 768px ----- */
@media only screen and (max-width: 768px) {
  :root {
    font-size: 8px;
  }
  .logo {
    height: 1.6rem;
    width: 7rem;
  }
  .nav-center {
    min-width: 25rem;
  }
  .nav-icon {
    margin: 0 0 0 10px;
    display: inline-block;
  }
}

/* ------------------------------------------------------  < 480px ----- */
@media only screen and (max-width: 480px) {
  .logo {
    height: 1.4rem;
    width: 6rem;
  }
  .logo-big {
    width: 36%;
    max-width: 8rem;
    margin: 0 auto 10px;
  }
  .nav-icon {
    margin: 0 0 0 12px;
    display: inline-block;
  }
  .nav-center {
    max-width: 20rem;
  }
}

/* ------------------------------------------------------  > 1700px ----- */
@media only screen and (min-width: 480px) {
  :root {
    font-size: 11px;
  }
}
