.first-screen {
  height: 70vh;
  margin: 0 50px 6vh 0;
  padding: 0 0 60px 0;
}
.promo-image {
  height: 60vh;
  width: 75vw;
  display: inline-block;
  position: relative;
}
.promo-image img {
  max-width: 100%;
  position: absolute;
  left: 0;
}
.first-screen-text-wrapper {
  max-width: 22vw;
  display: inline-block;
  position: relative;
  top: 4vh;
  right: 0;
  margin-left: -60px;
  background-color: var(--transparent-white);
  padding: 32px 40px;
}
.first-screen-text-wrapper .shop-now-btn {
  margin-top: 10px;
}

/* ************** New Arrivals Section **************** */
.new-arrivals-grid {
  display: grid;
  grid-template-areas:
    ". img img img"
    "h2 img img img"
    "p  img img img"
    ".  btn .    .";
  grid-template-rows: 2fr 2fr 2fr 1fr;
  grid-template-columns: 20vw 1fr 1fr 1fr;
  grid-gap: 28px;
}
.new-arrivals-grid img {
  grid-area: img;
  max-height: 70vh;
  width: auto;
}
.new-arrivals-grid h2 {
  grid-area: h2;
  text-align: right;
  align-self: end;
}
.new-arrivals-grid p {
  grid-area: p;
  text-align: right;
}
.new-arrivals-grid .shop-now-btn {
  grid-area: btn;
  text-align: left;
}
/* ************** Spring Collection Section **************** */
.spring-collection-grid {
  display: grid;
  grid-template-areas:
    "img1  img2 "
    "img1  h2   "
    "img1  p   "
    "img1  btn  ";
  grid-template-rows: 5fr 1fr 1fr 1fr;
  grid-template-columns: 3fr 3fr;
  column-gap: 30px;
  text-align: left;
  max-width: 700px;
  margin: auto;
}
.spring-collection-grid img:first-child {
  grid-area: img1;
  max-height: 75vh;
  width: auto;
}
.spring-collection-grid img:nth-child(2) {
  grid-area: img2;
  max-width: 100%;
}
.spring-collection-grid h2 {
  grid-area: h2;
  align-self: end;
}
.spring-collection-grid p {
  grid-area: p;
}
.spring-collection-grid .shop-now-btn {
  grid-area: btn;
  align-self: start;
}

/* ************** Products Slider Section **************** */
.products-slider {
  max-width: 1250px;
  margin: auto;
}
.home-product-card {
  max-width: 250px;
  display: inline-block;
  padding: 15px;
  text-align: center;
}

.home-product-card img {
  max-width: 100%;
  height: auto;
}
.home-product-card .btn {
  visibility: hidden;
}
.home-product-card:hover .btn {
  visibility: visible;
}

/* ************** Newsletter Section **************** */
