.text-box {
  max-width: 20vw;
  background-color: var(--transparent-white);
  padding: 32px 40px;
}

/* ************** First Screen Section **************** */
.first-screen {
  position: relative;
  width: 100vw;
  max-width: 1600px;
  margin: auto;
  overflow-x: hidden;
  margin: 25px 0 25px 0;
  padding: 0 0 60px 0;
}
.promo-image {
  display: inline-block;
  object-fit: cover;
  height: 60vh;
  width: 73vw;
}

.promo-image .image-container {
  width: 73vw;
  height: 100%;
  position: absolute;
  left: 0;
}
.promo-image .image-container img {
  height: 100%;
}

.first-screen .text-box {
  display: inline-block;
  top: 13vh;
  right: 0;
  z-index: 10;
  position: absolute;
}
.first-screen-text-wrapper .shop-now-btn {
  margin-top: 10px;
}

/* ************** Spring Collection Section **************** */
.spring-collection-grid {
  display: grid;
  grid-template-areas:
    "img1  img2 "
    ".  h2   "
    ".  p   "
    ".  btn  ";
  grid-template-rows: 8fr 1fr 1fr 1fr;
  grid-template-columns: 3fr 3fr;
  column-gap: 30px;
  text-align: left;
  max-width: 700px;
  margin: auto;
}
.spring-collection-grid img:first-child {
  grid-area: img1;
  max-height: 75vh;
  width: auto;
  position: relative;
}
.spring-collection-grid img:nth-child(2) {
  grid-area: img2;
  max-width: 100%;
}
.spring-collection-grid h2 {
  grid-area: h2;
  align-self: end;
}
.spring-collection-grid p {
  grid-area: p;
}
.spring-collection-grid .shop-now-btn {
  grid-area: btn;
  align-self: start;
}
/* ************** New Arrivals Section **************** */
.new-arrivals-grid {
  display: grid;
  grid-template-areas: "text img";
  grid-template-rows: 60vh;
  grid-template-columns: 25vw 1fr;
  grid-gap: 0;
  overflow: hidden;
  max-width: 1400px;
  margin: auto;
}
.new-arrivals-grid .text-box {
  grid-area: text;
}
.new-arrivals-grid .text-box .shop-now-btn {
  z-index: 2;
}
.new-arrivals-grid .image-container {
  grid-area: img;
}

.new-arrivals-grid h2,
.new-arrivals-grid p {
  text-align: right;
}
.new-arrivals-grid .shop-now-btn {
  text-align: left;
  float: right;
  margin-top: 1.2rem;
}

/* ************** Products Slider Section **************** */
.products-slider {
  max-width: 1650px;
  margin: auto;
}
.home-product-card {
  max-width: 250px;
  display: inline-block;
  padding: 15px;
  text-align: center;
}

.home-product-card img {
  max-width: 100%;
  height: auto;
}
.home-product-card .btn {
  visibility: hidden;
}
.home-product-card:hover .btn {
  visibility: visible;
}

/* ************** Newsletter Section **************** */
.newsletter {
  background: var(--grey1);
  padding-top: 30px;
  padding-bottom: 30px;
}
.newsletter-form {
  max-width: 330px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.newsletter-form label {
  font-size: 1.2rem;
  color: var(--grey3);
  justify-self: flex-end;
  height: 1.2rem;
  display: block;
}
.newsletter-form input {
  border: none;
  border-bottom: var(--border-grey2);
  text-align: center;
  width: calc(100% -20px);
  outline: none;
  padding: 10px;
  display: block;
}

.newsletter-form input:focus {
  background: var(--white);
}
.newsletter-form button {
  outline: none;
  background: var(--grey1);
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  transition: background 0.3s;
}
.newsletter-form button:hover {
  background: #e9e9e9;
}

/* ############################################## MEDIA QUERIS ###################################### */

/* -------------------------------------------------------  < 1240px ----- */
@media only screen and (max-width: 1240px) {
  :root {
    font-size: 9px;
  }
  .text-box {
    max-width: 38vw;
  }

  /* *********** First Screen Section | 768px ~ 1240px ************* */
  .first-screen .text-box {
    top: 10px;
  }
  .first-screen {
    height: 65vh;
    margin: 20px 50px 30px 0;
    padding: 0 0 0 0;
  }
  .promo-image {
    height: 50vh;
    width: 75vw;
  }

  /* ******** Spring Collection Section | 768px ~ 1240px ************ */
  .spring-collection-grid {
    grid-template-areas:
      "img1  img2 "
      ".  h2   "
      ".  p   "
      ".  btn  ";
    grid-template-rows: 8fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .spring-collection-grid img:first-child {
    max-height: auto;
    max-width: 100%;
    display: block;
  }
  .spring-collection-grid img:nth-child(2) {
    max-height: auto;
    max-width: 100%;
  }
  /* ************ New Arrivals Section  | 768px ~ 1240px *********** */
  .new-arrivals-grid {
    grid-template-columns: 1fr 2fr;
  }
}

/* ---------------------------------------------------------  < 768px ----- */
@media only screen and (max-width: 768px) {
  :root {
    font-size: 8px;
  }
  .text-box {
    padding: 20px 26px;
    max-width: 50vw;
    box-sizing: border-box;
  }
  /* ************** First Screen Section | 480px ~ 768px **************** */
  .promo-image .image-container {
    width: 70vw;
  }
  .first-screen .text-box {
    max-width: 55vw;
  }

  /* ************** New Arrivals Section | 480px ~ 768px **************** */
  .new-arrivals-grid {
    overflow: hidden;
    grid-template-rows: 70vh;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
  /* ************** Products Slider Section | 480px ~ 768px **************** */
  .home-product-card {
    max-width: 200px;
  }
}

/* ---------------------------------------------------------  < 480px ----- */
@media only screen and (max-width: 480px) {
  :root {
    font-size: 7px;
  }
  .text-box {
    max-width: 100%;
  }
  /* ************** First Screen Section | < 480 **************** */
  .first-screen.flex-center {
    flex-direction: column;
  }
  .first-screen {
    height: auto;
    margin: 0 auto;
    padding: 20px 0 20px 0;
  }
  .promo-image {
    height: 35vh;
    width: 100%;
    display: block;
    position: static;
  }
  .promo-image .image-container {
    max-width: 100%;
    position: static;
    width: 100%;
  }

  .first-screen .text-box {
    display: block;
    position: static;
    max-width: 100%;
  }
  /* ************ Spring Collection Section | < 480px ************** */
  .spring-collection-grid {
    grid-template-areas:
      "img1  img2"
      "h2  h2"
      "p  p"
      "btn  btn";
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    text-align: left;
    max-width: auto;
    margin: auto;
  }
  .spring-collection-grid img:first-child {
    max-height: 60vh;
    max-width: 100%;
    width: auto;
    position: static;
  }
  .spring-collection-grid img:nth-child(2) {
    max-width: 100%;
    max-height: 60vh;
  }

  /* ************** New Arrivals Section | < 480 **************** */
  .new-arrivals-grid {
    grid-template-areas:
      "img"
      "text";
    grid-template-rows: 30vh auto;
    grid-template-columns: 100%;
  }
  .new-arrivals-grid .image-container {
    place-self: center center;
  }
  .new-arrivals-grid h2,
  .new-arrivals-grid p {
    text-align: left;
  }
  .new-arrivals-grid .shop-now-btn {
    float: left;
  }

  /* ************** Newsletter Section | < 480 **************** */
  .newsletter-form {
    padding: 30px;
  }
}

/* --------------------------------------------------------  > 1700px ----- */
@media only screen and (min-width: 480px) {
  :root {
    font-size: 11px;
  }
}
