:root {
  --black: #2b2b2b;
  --white: #ffffff;
  --grey1: #f5f5f5;
  --grey2: #c2c2c2;
  --grey3: #7e7e7e;
  --grey4: #535353;
  --grey5: #363636;
  --transparent-white: rgba(253, 253, 253, 0.932);
  --border-grey1: 1px solid var(--grey1);
  --border-grey2: 0.5px solid var(--grey2);
  --border-grey3: 1px solid var(--grey3);
  --border-grey4: 0.5px solid var(--grey4);
  --shadow: 0 0 9px 3px #79797911;

  --btn-scale: 1.2;
  --nav-height: calc(2rem + 24px);

  font-size: 10px;
}
body {
  overflow-x: hidden;
}
body,
* {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
  color: var(--black);
  font-size: 1.6rem;
  /* font-family: "Playfair Display", serif; */
  /* font-family: "Roboto", sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 900i;
  color: var(--grey5);
}
.heading1 {
  font-size: 2.6rem;
  padding-bottom: 1rem;
}
h2 {
  font-size: 2.2rem;
  padding-bottom: 1rem;
}
h3 {
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
  color: var(--grey3);
}
h4 {
  font-size: 1.5rem;
  padding-bottom: 0.7rem;
  color: var(--grey3);
  font-weight: normal;
}

p {
  padding-bottom: 1.2rem;
  line-height: 1.5;
}

.price {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  color: var(--grey5);
}
/* ********************************************************************** */
section {
  padding: 80px 0;
}
.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}
.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-container {
  height: 100%;
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.image-container img {
  height: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: var(--nav-height);
}
/* ******************************** BUTTONS START ****************************** */
.btn {
  font-size: calc(14px * var(--btn-scale));
  text-decoration: none;
  border: var(--border-grey4);
  height: calc(36px * var(--btn-scale));
  width: calc(160px * var(--btn-scale));
  display: inline-block;
  line-height: calc(36px * var(--btn-scale));
  position: relative;
}
/* ----- Shop Now Button ----- */
.shop-now-btn {
  color: var(--grey4);
  padding-left: calc(28px * var(--btn-scale));
}
.shop-now-btn .btn-content {
  position: relative;
  z-index: 1;
  text-align: left;
}
.shop-now-btn .arrow {
  width: 26px;
  height: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  left: calc(20px * var(--btn-scale));
  top: calc(1px * var(--btn-scale));
  transition: left 0.7s, opacity 0.7s;
}
.hover-fill {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2%;
  height: 100%;
  content: "";
  z-index: -1;
  transition: width 0.4s ease-out;
}
.hover-fill-shop {
  background-color: var(--grey1);
}
.shop-now-btn:hover {
  border: var(--border-grey4);
}
.shop-now-btn:hover .arrow {
  left: calc(45px * var(--btn-scale));
  opacity: 0.3;
}
.shop-now-btn:hover .hover-fill {
  position: absolute;
  left: 0;
  width: 100%;
  right: 0;
}

.shop-now-btn:active {
  padding-left: calc(60px * var(--btn-scale));
  transition: padding-left 0.3s;
}

/* ----- Add to Cart Button ----- */
.add-cart-btn {
  background-color: var(--grey4);
  border: none;
  transition: background-color 0.3s;
  max-width: calc(150px * var(--btn-scale));
  min-width: calc(100px * var(--btn-scale));
}
.add-cart-btn .btn-content {
  color: var(--grey1);
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-cart-btn:hover {
  background-color: var(--grey3);
}
.hover-fill-cart {
  background-color: var(--grey2);
  z-index: 3;
  opacity: 0;
}
.add-cart-btn:hover .hover-fill-cart {
  animation: hover-btn 5600ms infinite ease-in-out;
}
@keyframes hover-btn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.3;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 2%;
  }
}

/* ----- Delete Button ----- */
.delete-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0.4rem 0.4rem 0.4rem 0.8rem;
}
.delete-btn .line {
  width: 12px;
  height: 1px;
  background-color: var(--grey4);
  display: block;
  position: relative;
  top: -2;
}
.delete-btn .line:first-of-type {
  transform: rotate(45deg) translate(3px, -6px);
  transition: transform 0.3s;
}
.delete-btn .line:last-of-type {
  transform: rotate(-45deg) translate(6px, 2px);
  transition: transform 0.3s;
}
.delete-btn:hover .line {
  transform: rotate(0) translate(6px, -2px);
}

/* ----- Wishlist Button ----- */
.wishlist-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0.4rem;
}
.wishlist-btn img {
  width: 18px;
  height: 18px;
  display: inline-block;
}
.wishlist-btn-small {
  padding: 12px 11px 10px;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  right: 12px;
  bottom: 50px;
  z-index: 3;
  box-shadow: var(--shadow);
  transition: background-color 0.4s;
}
.wishlist-btn-small:hover {
  background-color: var(--grey1);
}
.wishlist-btn-big {
  border: var(--border-grey4);
  font-size: calc(14px * var(--btn-scale));
  line-height: calc(36px * var(--btn-scale));
  height: calc(36px * var(--btn-scale));
  max-width: calc(150px * var(--btn-scale));
  min-width: calc(120px * var(--btn-scale));
  display: inline-block;
  position: relative;
}
.wishlist-btn-big img {
  padding-right: 8px;
}
.wishlist-btn-big .btn-text {
  display: inline-block;
  line-height: calc(36px * var(--btn-scale));
  position: relative;
  top: calc(-3px * var(--btn-scale));
}
.wishlist-btn-big:hover {
  background-color: var(--grey1);
}

/* ------- Slider Buttons ------- */
.slick-arrow.slick-next::before,
.slick-arrow.slick-prev::before {
  color: var(--grey3);
}
.slick-arrow:hover .slick-next::before,
.slick-arrow:hover .slick-arrow.slick-prev::before {
  color: var(--grey4);
}
/* ******************************** BUTTONS END ****************************** */

/* ************************* PRODUCT FORM  START ***************************** */
label {
  display: block;
  padding-top: 0.7rem;
  font-size: 1.1rem;
}
/* color */
.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 0.8rem;
  margin-left: 0;
  position: relative;
  cursor: pointer;
}
.color input[type="radio"] {
  opacity: 0;
  width: 20px;
  height: 20px;
}
.color label {
  border: var(--border-grey1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 50%;
}
.color input[type="radio"]:checked + label {
  box-shadow: 0 0 1px 1px var(--grey4);
}

/* size */
.size {
  display: inline-block;
  margin: 0.5rem 1.4rem;
  margin-left: 0;
  position: relative;
}
.size input[type="radio"] {
  opacity: 0;
  margin-right: 2px;
  cursor: pointer;
}
.size input[type="radio"]:checked + .size-custom-input {
  background-color: var(--grey3);
  border: var(--border-grey4);
}
.size-custom-input {
  display: inline-block;
  background-color: var(--grey1);
  border-radius: 50%;
  width: 10px;
  border: var(--border-grey2);
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  bottom: 6px;
  z-index: -1;
  border-radius: 50%;
}

/* buttons */
.buttons-group {
  margin-top: 10%;
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
}
/* ************************* PRODUCT FORM  END ***************************** */
/* ************************* LOADING COMPONENT START ***************************** */
.loading-container {
  width: 100%;
  height: 90vh;
}
.loading-spinner {
  width: 60px;
  height: 60px;
  margin: 20vh auto;
  opacity: 0.6;
  animation: spin 0.6s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ************************* LOADING COMPONENT END ***************************** */

/* ################################################ MEDIA QUERIES ######################################### */
/* -----------------------------------------------  < 1240px ----- */
@media only screen and (max-width: 1240px) {
  :root {
    font-size: 10px;
  }
  section {
    padding: 50px 0;
  }
}

/* -----------------------------------------------  < 768px ----- */
@media only screen and (max-width: 768px) {
  :root {
    --btn-scale: 1.1;
    font-size: 9px;
  }
  .container {
    width: 95%;
  }
  section {
    padding: 40px 0;
  }
}

/* -----------------------------------------------  < 480px ----- */
@media only screen and (max-width: 480px) {
  :root {
    --btn-scale: 1;
    font-size: 8px;
  }
  .container {
    width: 92%;
  }
  section {
    padding: 30px 0;
  }
}

/* -----------------------------------------------  > 1700px ----- */
@media only screen and (min-width: 480px) {
  :root {
    font-size: 11px;
  }
}
