:root {
  --black: #2b2b2b;
  --white: #ffffff;
  --grey1: #f1f1f1;
  --grey2: #9f9f9f;
  --grey3: #6b6b6b;
  --grey4: #363636;
  --transparent-white: rgba(253, 253, 253, 0.932);
  --border-grey2: 0.5px solid var(--grey2);
  --border-grey3: 0.5px solid var(--grey3);
  font-size: 10px;
  --btn-scale: 1.2;
}

body,
* {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
  color: var(--black);
  font-size: 1.6rem;
  /* font-family: 'Playfair Display', serif;
  font-family: 'Montserrat', sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 900i;
  color: var(--grey4);
}
.heading1 {
  font-size: 2.6rem;
  padding-bottom: 1rem;
}
h2 {
  font-size: 2.2rem;
  padding-bottom: 1rem;
}
h3 {
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
}
h4 {
  font-size: 1.5rem;
  padding-bottom: 0.7rem;
}

p {
  padding-bottom: 1.2rem;
}

/* ********************************************************************** */
section {
  padding: 80px 0;
}
.container {
  width: 90%;
  /* max-width: 1600px; */
  margin: 0 auto;
}
.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ******************************** BUTTONS START ****************************** */
.btn {
  font-size: calc(14px * var(--btn-scale));
  text-decoration: none;
  border: var(--border-grey3);
  height: calc(36px * var(--btn-scale));
  width: calc(160px * var(--btn-scale));
  display: inline-block;
  line-height: calc(36px * var(--btn-scale));
  position: relative;
}
/* ----- Shop Now Button ----- */
.shop-now-btn {
  color: var(--grey4);
  padding-left: calc(28px * var(--btn-scale));
}
.shop-now-btn .btn-content {
  position: relative;
  z-index: 1;
  text-align: left;
}
.shop-now-btn .arrow {
  width: 26px;
  height: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  left: calc(20px * var(--btn-scale));
  top: calc(1px * var(--btn-scale));
  transition: left 0.7s, opacity 0.7s;
}
.hover-fill {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2%;
  height: 100%;
  content: "";
  z-index: -1;
  transition: width 0.4s ease-out;
}
.hover-fill-shop {
  background-color: var(--grey1);
}
.shop-now-btn:hover {
  border: var(--border-grey2);
}
.shop-now-btn:hover .arrow {
  left: calc(45px * var(--btn-scale));
  opacity: 0.3;
}
.shop-now-btn:hover .hover-fill {
  position: absolute;
  left: 0;
  width: 100%;
  right: 0;
}

.shop-now-btn:active {
  padding-left: calc(60px * var(--btn-scale));
  transition: padding-left 0.3s;
}

/* ----- Add to Cart Button ----- */
.add-cart-btn {
  background-color: var(--grey4);
  border: none;
  transition: background-color 0.3s;
  width: calc(160px * var(--btn-scale));
}
.add-cart-btn .btn-content {
  color: var(--grey1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-cart-btn:hover {
  background-color: var(--grey3);
}
.hover-fill-cart {
  background-color: var(--grey2);
  z-index: 3;
  opacity: 0;
}
.add-cart-btn:hover .hover-fill-cart {
  animation: hover-btn 5600ms infinite ease-in-out;
}
@keyframes hover-btn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.3;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 2%;
  }
}

/* ******************************** BUTTONS END ****************************** */

/* ************************************ MEDIA QUERIS *********************************** */
/* -----  < 1240px ----- */
@media only screen and (max-width: 1240px) {
  :root {
    font-size: 10px;
  }
}

/* -----  < 768px ----- */
@media only screen and (max-width: 768px) {
  :root {
    --btn-scale: 1.1;
    font-size: 9px;
  }
  .container {
    width: 95%;
  }
  section {
    padding: 60px 0;
  }
}

/* -----  < 480px ----- */
@media only screen and (max-width: 480px) {
  :root {
    --btn-scale: 1;
    font-size: 8px;
  }
  .container {
    width: 92%;
  }
  section {
    padding: 30px 0;
  }
}

/* -----  > 1700px ----- */
@media only screen and (min-width: 480px) {
  :root {
    font-size: 11px;
  }
}
