/* WISHLIST PAGE */
main.wishlist {
  padding: 100px 10px 160px;
}
.wishlist-wrapper {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}

/* *************** WISHLIST ITEM | WISHLIST AND CART PAGES  **************** */
main.wishlist h3,
main.cart h3 {
  padding-bottom: 20px;
}
.wishlist-cart-item {
  border-top: var(--border-grey2);
  border-bottom: var(--border-grey2);
  margin: 0 0 50px;
  height: 232px;
  background-color: var(--white);
  display: flex;
  box-sizing: border-box;
}
/* image */
.wishlist-cart-item .wishlist-image {
  max-width: 150px;
  height: 100%;
  min-width: 20%;
}
.wishlist-cart-item a > img {
  height: 230px;
  width: auto;
}
/* content */
.wishlist-item-content {
  padding: 20px 0 18px 40px;
  display: inline-block;
  width: 75%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wishlist-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.grid-label {
  font-size: 1.1rem;
  padding-right: 14px;
}
.wishlist-cart-item .price {
  line-height: 2.4rem;
  display: inline;
}

.wishlist-cart-item .delete-btn {
  align-self: flex-start;
  padding: 20px;
}
/* ______________ ANIMATIONS _____________ */
.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 300ms linear;
}
.fade-enter-done {
  opacity: 1;
}

/* exit */
/* .fade-exit {
  opacity: 1;
  height: auto;
}
.fade-exit.fade-exit-acive {
  opacity: 0;
  height: 0;
  transition: opacity 1000ms linear;
}
.fade-exit-done {
  height: 0;
  display: none;
} */

/* ***************** WISHLIST PAGE ******************* */
main.wishlist h3 {
  text-align: center;
}

.wishlist-cart-item form {
  z-index: 3;
  position: relative;
  display: flex;
}
.wishlist-cart-item .form-content {
  align-self: flex-start;
}
main.wishlist .wishlist-cart-item .buttons-group {
  margin-top: 3%;
  justify-content: flex-end;
  align-self: flex-end;
  justify-self: flex-end;
  flex: 2;
}
main.wishlist .wishlist-cart-item .wishlist-btn {
  display: none;
}

/* ################################################ MEDIA QUERIES ######################################### */
/* -----------------------------------------------  < 625px ----- */
@media only screen and (max-width: 625px) {
  main.wishlist {
    padding: 50px 10px 70px;
  }

  main.wishlist .wishlist-grid {
    grid-template-columns: 3.7fr 1fr;
  }

  main.wishlist .wishlist-cart-item {
    margin: 0 0 30px;
    height: 252px;
  }

  main.wishlist .wishlist-item-content {
    padding: 15px 0 18px 40px;
    width: 70%;
  }

  /* image */
  main.wishlist .wishlist-cart-item .wishlist-image {
    max-width: 170px;
  }
  main.wishlist .wishlist-cart-item a > img {
    height: 250px;
  }

  main.wishlist .wishlist-cart-item form {
    flex-direction: column;
    margin-top: 10px;
  }

  main.wishlist .grid-cell .price {
    padding-left: 20px;
  }

  main.wishlist .wishlist-cart-item .buttons-group {
    margin-top: 3%;
    align-self: flex-start;
  }
}

/* -----------------------------------------------  < 480px ----- */
@media only screen and (max-width: 480px) {
  main.wishlist {
    padding: 50px 0 70px;
  }
  .wishlist-cart-item {
    justify-content: space-between;
  }
  main.wishlist .wishlist-item-content {
    padding: 15px 0 18px 20px;
    width: 40%;
  }

  main.wishlist .wishlist-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  main.wishlist .grid-cell .price {
    padding-left: 0;
  }

  main.wishlist .wishlist-cart-item .buttons-group .add-cart-btn {
    margin-top: 15%;
    max-width: 120px;
  }

  main.wishlist form .size-custom-input {
    bottom: 2px;
    top: 3px;
  }

  main.wishlist .wishlist-cart-item .delete-btn {
    align-self: flex-start;
    padding: 20px 20px 10px 0;
  }
}
