main.wishlist {
  background-color: var(--white);
  padding: 100px 10px 160px;
}
.wishlist-wrapper {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
main.wishlist h3 {
  text-align: center;
}

/* cart */
main.cart {
  background-color: var(--white);
  padding: 100px 10px 160px;
}
.wishlist-wrapper {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
main.cart h3 {
  text-align: center;
}

/* *************** WISHLIST ITEM **************** */
.wishlist-item {
  border: var(--border-grey1);
  border-bottom: var(--border-grey3);
  margin: 20px 0 30px;
  background-color: var(--white);
  display: flex;
  box-sizing: border-box;
  /* box-shadow: var(--shadow); */
}
.wishlist-item > img {
  min-width: 150px;
  height: 100%;
  width: 20%;
}
.wishlist-item .price {
  line-height: 2.4rem;
  display: inline;
}
.wishlist-item-content {
  padding: 20px 0 20px 40px;
  display: inline-block;
  width: 75%;
  float: right;
  box-sizing: border-box;
}

.wishlist-item .delete-btn {
  align-self: flex-start;
  padding: 20px;
}

.wishlist-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.grid-cell {
}
.grid-label {
  font-size: 1.1rem;
  padding-right: 14px;
}

/* wishlist */
.wishlist-item form {
  margin-top: 30px;
  z-index: 3;
  position: relative;
  display: flex;
}
.wishlist-item .form-content {
  align-self: flex-start;
}
.wishlist-item .buttons-group {
  margin-top: 3%;
  justify-content: flex-end;
  align-self: flex-end;
  justify-self: flex-end;
  flex: 2;
}
main.wishlist .wishlist-item .wishlist-btn {
  display: none;
}

/* cart */
.color-sample {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: var(--border-grey1);
  display: inline-block;
  position: relative;
  top: 6px;
}
main.cart .wishlist-btn-big {
  min-width: calc(150px * var(--btn-scale));
  margin-top: 18px;
}
main.cart .wishlist-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main.cart .wishlist-grid {
  grid-template-rows: 1.5fr 1fr 1fr;
  grid-row-gap: 10px;
}
